.active-note-form {
	height: 100%;
}

textarea {
	font-family:"courier new";
	resize: none;
	color: rgb(39, 39, 39);
	padding: 20px;
	font-size: 16px;
	border: 0 none;
	margin: 0;
	outline: 0 none;
	height: 100%;
	width: 1250px;
	background-color: rgb(238, 238, 238);
	
	
}


@media only screen and (min-width: 2000px) {
	textarea {
		width: 1550px;
	}
}