header {
	height: 60px;
	background-color: slateblue; /* #55538f; */
}
h1 {
	margin-left: 50px;
	padding-top: 10px;
}
.container {
	display: flex;
	flex-direction: row;
	background-color: lightgray;
	height: calc(100% - 60px);
	
}
.left-sidebar {
	width: 350px;
	padding: 20px 10px;
	background-color: rgb(44, 44, 44);
}
.main-content {
	font-size: 18px;
	color: black;
	overflow-x:hidden;  
	overflow-y:auto;
	
}
