/* You can add global styles to this file, and also import other style files */

:root {
	--blue: rgb(100, 83, 211);
	--red: rgb(219, 23, 23);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before, *::after {
	box-sizing: border-box;
}
html {
	height: 100%; 
	width: 100%;
}
body {
	height: 100%; 
	width: 100%;
	font-family:Geneva,sans-serif;
	color: white;
}